/* Do not delete this */
.section-selector-1 { background-color: var(--gray-200) }
.col-3 h3 { margin-bottom: 16px }

/* Add your custom CSS below */

.section-selector-1 .col-text h2 span.highlight { color: var(--lime-500) }
.section-selector-1 .container-btn a.btn:nth-child(1):link,
.section-selector-1 .container-btn a.btn:nth-child(1):visited { color: var(--green-500) }

.section-selector-1 .container-btn a.btn:nth-child(1):focus,
.section-selector-1 .container-btn a.btn:nth-child(1):hover,
.section-selector-1 .container-btn a.btn:nth-child(1):active { color: var(--white-000) }

.section-selector-1 .container-btn a.btn:nth-child(1):focus,
.section-selector-1 .container-btn a.btn:nth-child(1):hover,
.section-selector-1 .container-btn a.btn:nth-child(1):active { background-color: var(--green-500) }

.section-selector-1 .container-btn a.btn:nth-child(1):link,
.section-selector-1 .container-btn a.btn:nth-child(1):visited { border-color: var(--green-500) }

.section-selector-1 .container-btn a.btn:nth-child(1):focus,
.section-selector-1 .container-btn a.btn:nth-child(1):hover,
.section-selector-1 .container-btn a.btn:nth-child(1):active .container-btn { border-color: var(--green-500) }

.section-selector-1 .container-btn a.btn:nth-child(1):focus,
.section-selector-1 .container-btn a.btn:nth-child(1):hover,
.section-selector-1 .container-btn a.btn:nth-child(1):active .container-btn { border-color: var(--green-500) }

.section-selector-1 .container-btn a.btn:nth-child(1):focus,
.section-selector-1 .container-btn a.btn:nth-child(1):hover,
.section-selector-1 .container-btn a.btn:nth-child(1):active .container-btn { border-color: var(--green-500) }

header h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

header h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.4;
}


