
nav.theme-dark, nav.theme-dark ul.links-wrapper.active { background-color: #0f172a }
header.theme-dark   { background-color: #0f172a }
header.theme-dark  h1 { color: var(--sky-400); }
section.theme-dark   { background-color: #0f172a }
footer.theme-dark   { background-color: #0f172a }
header .col-text h2, .col-1 > h3 { line-height: 1.8 }

/* book store font */
.goudy-bookletter-1911-regular {
  font-family: "Goudy Bookletter 1911", serif;
  font-weight: 400;
  font-style: normal;
}

